@import "tailwindcss";
@import "tw-animate-css";

/* allow tailwind to know when to apply dark mode styles */
@custom-variant dark (&:is(.dark *));   

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  
  /* color theme */
  color-scheme: light;
  --primary: black;
  --contrast: white;
  --secondary: var(--color-gray-600);
  --highlight: var(--color-blue-500);
  --highlight-focus: var(--color-blue-600);
  --muted: var(--color-gray-100);
  
  --input: white;
  --link: var(--color-blue-500);

  --ring: oklch(0.708 0 0);
  --ring-focus: var(--color-blue-500);
  
  --border: var(--color-gray-400);
}

@theme inline {
  --color-background: var(--contrast);
  --color-foreground: var(--primary);

  --color-primary: var(--primary);
  --color-contrast: var(--contrast);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --color-highlight-focus: var(--highlight-focus);
  --color-muted: var(--muted);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-ring-focus: var(--ring-focus);
  --color-link: var(--link);
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted text-foreground;
  }
}